<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Virgil.Sync.CLI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Virgil.Sync.CLI.Settings>
      <setting name="VirgilCard" serializeAs="String">
        <value>{
    "authorized_by": "com.virgilsecurity.identity",
    "created_at": "2016-05-10T09:58:41+0000",
    "data": null,
    "hash": "UVYK4ft47gFFXcvJoq6CcB5BVOb3b0YB/61Ywg/D/hE3kXSHsRhI6I3mopLJYP3kiMvZoKbyV209oT0tkRk7Iw==",
    "id": "bd40f248-4f76-4d61-97cf-f74b74e1f0ab",
    "identity": {
        "created_at": "2016-05-10T09:58:41+0000",
        "id": "49737166-b415-436f-ad67-4f445e3df75e",
        "type": "email",
        "value": "virgilclitests@mailinator.com"
    },
    "public_key": {
        "created_at": "2016-05-10T09:58:41+0000",
        "id": "cd806839-a130-4cd9-9d40-05f3ed02de6a",
        "public_key": "LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUZzd0ZRWUhLb1pJemowQ0FRWUtLd1lCQkFHWFZRRUZBUU5DQUFSL01UZzR5VFkzKzZUb2hJSG1FejJkQmJCcQpnck9xV2JTeTZVN2Uyc0lSb0FBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg=="
    }
}</value>
      </setting>
      <setting name="PrivateKey" serializeAs="String">
        <value>-----BEGIN EC PRIVATE KEY-----
MHkCAQEEIF8niPRbHBwnHuPRRXD3cE1Gr0YN8rn+9JJKeMBfhGpQoAwGCisGAQQB
l1UBBQGhRANCAAR/MTg4yTY3+6TohIHmEz2dBbBqgrOqWbSy6U7e2sIRoAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
-----END EC PRIVATE KEY-----
</value>
      </setting>
      <setting name="UserId" serializeAs="String">
        <value>151132913</value>
      </setting>
      <setting name="AccessToken" serializeAs="String">
        <value>14c-HsvO9WUAAAAAAAADnzWzvjFvup8vGQolOSkprSz2qKUwJ7EQ_YSVKJjaAmVN</value>
      </setting>
    </Virgil.Sync.CLI.Settings>
  </userSettings>
</configuration>